@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

address {
  font-style: normal;
}

.h_on {
  background: rgba(255, 255, 255, 0.9) !important;
}

.h_txt_color {
  color: #333 !important;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  z-index: 10000;
}

.modal > .modal_inner {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.modal #c_btn {
  background-color: #fff;
  text-decoration: none;
  color: #333;
  border: none;
  padding: 0px 16px;
  margin-left: 190px;
}

.modal img {
  width: 100%;
  display: block;
}

.btn_area {
  background-color: #fff;
  width: 400px;
  height: 30px;
  position: absolute;
  border-top: 2px solid #333;
  line-height: 30px;
}

main {
  overflow: hidden;
  clear: both;
}
main > #movie {
  height: 100vh;
  background: #ccc;
  overflow: hidden;
}
main > #movie > video {
  width: 100%;
}
main > #movie > .m_info {
  position: absolute;
  width: 100%;
  top: 46%;
  text-align: center;
  z-index: 100;
  color: #fff;
  font-size: 16px;
}
main > #movie > .m_info > h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
main > #movie > .m_info > p {
  line-height: 80px;
}
main > #movie > .m_info > a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  margin: 0px 20px;
  padding: 5px 10px;
}
main > #movie > .m_info a:first-of-type {
  background: #006EFF;
}
main > #movie #next_btn {
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
}
main > #top3 {
  height: 1146px;
  background: rgb(173, 223, 173);
}
main > #intro {
  height: 923px;
  background: rgb(219, 204, 175);
}
main > #test_drive {
  height: 923px;
  background: #b1a9f5;
}
main > #event {
  height: 923px;
  background: #b5f0f8;
}
main > #buy {
  height: 923px;
  background: #f2f7b6;
}
main > #customer {
  height: 923px;
  background: #ffa6c3;
}

.btn {
  border: 1px solid #333;
  background: #fff;
  padding: 8px 26px;
}

.m_title {
  margin: 80px 0px 0px 0px;
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 10px 0px;
}

/*2. 가장 많이 찾는 캐스퍼 top3*/
#top3 {
  text-align: center;
}
#top3 > .p01 {
  font-size: 16px;
  line-height: 50px;
}
#top3 .swiper-pagination-bullet {
  width: 60px;
  height: 10px;
  border-radius: 5%;
}
#top3 .swiper-pagination-bullet-active {
  background: #333 !important;
}
#top3 .swiper-button-next {
  color: #9b9b9b;
}
#top3 .swiper-button-prev {
  color: #9b9b9b;
}
#top3 .top3 {
  position: relative;
  margin-top: 50px;
  padding: 20px 0px 50px 0px;
}
#top3 .top3 > .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#top3 .top3 > .swiper-wrapper .rank {
  color: #327186;
  border: 1px solid #327186;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: 14px;
}
#top3 .top3 > .swiper-wrapper .top3_title {
  font-size: 22px;
  font-weight: 600;
  padding-top: 30px;
  color: #052B58;
}
#top3 .top3 > .swiper-wrapper img {
  width: 400px;
  padding: 80px 0px;
  transition: 0.8s;
  transform: scale(0.7);
  transition-timing-function: cubic-bezier(0.1, 1);
}
#top3 .top3 > .swiper-wrapper .swiper-slide-active img {
  transform: scale(1.2);
}
#top3 .top3 > .swiper-wrapper .detail {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
#top3 .top3 > .swiper-wrapper .detail > li {
  width: 190px;
  padding: 0px 20px;
  text-align: left;
  line-height: 20px;
  font-size: 16px;
  border-right: 1px solid #ccc;
}
#top3 .top3 > .swiper-wrapper .detail > li:last-child {
  border: none;
  padding-top: 6px;
}
#top3 .top3 > .swiper-wrapper .detail .price {
  font-size: 22px;
  font-weight: bold;
  color: #052B58;
}

.outer_color, .inner_color {
  display: inline-block;
  width: 56px;
  height: 40px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
}

.khaki {
  background: #494b3e;
}

.black {
  background: #000;
}

.white {
  background: #fff;
  border: 1px solid #ccc;
}

.orange {
  background: rgb(190, 86, 0);
}

#top3 .swiper-button-next::after, #top3 .swiper-button-next::before {
  color: #225499 !important;
}/*# sourceMappingURL=main.css.map */